@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="text">
		<p>Controls: R - for restart</p>
		<p>G - drop item</p>
		<p>E - get item</p>
		<p>Right Mouse - trown item</p>
		<p>V - fly</p>
		<p>0 - close tab</p>
	</div>
</root>
